{erl_opts, [debug_info]}.

{deps, [
  {jsx, "3.1.0"}
]}.

{relx, [
  {release, {erlsp, "0.0.1"}, [erlsp]},
  {include_erts, true},
  {extended_start_script, false},
  {sys_config, false},
  {dev_mode, false},
  {vm_args, "config/vm.args"}
]}.

{profiles, [
  {test, [
    {erl_opts, [nowarn_export_all]}
  ]}
]}.
